* {
    background-color: rgb(247, 135, 181);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.headings{
    color: aqua;
    font-weight: bold;
    background-color: white;
    text-align: center;
}